<div
  class="container details"
  *ngIf="details !== undefined; else loadingTemplate"
>
  <div class="details__top">
    <a class="border-0 bg-transparent" href="/">
      <img src="../../../assets/icons/arrow-left.svg" alt="arrow-left" />
    </a>
    <h2 class="text-center m-2">Detail</h2>
    <button class="bg-transparent border-0" (click)="saveWatchlist()">
      <img src="../../../assets/icons/save-head.svg" alt="save-head" />
    </button>
  </div>

  <div class="details__head">
    <img
      *ngIf="details.backdrop_path !== undefined"
      src="https://image.tmdb.org/t/p/original{{ details.backdrop_path }}"
    />

    <img
      *ngIf="details.poster_path !== null"
      src="https://image.tmdb.org/t/p/original{{ details.poster_path }}"
    />
  </div>
  <h3>{{ details.title }}</h3>
  <p>
    {{ details.release_date?.slice(0, 4) }} | {{ details.runtime }} minutes |
    {{ details.genres[0].name }}
  </p>

  <ul class="top-buttons">
    <li>
      <button (click)="selectedNav('about')">About Movie</button>
      <div *ngIf="selectNav == 'about'"></div>
    </li>
    <li>
      <button (click)="selectedNav('review')">Reviews</button>
      <div *ngIf="selectNav == 'review'"></div>
    </li>
    <li>
      <button (click)="selectedNav('cast')">Cast</button>
      <div *ngIf="selectNav == 'cast'"></div>
    </li>
  </ul>

  <div class="about-movies" *ngIf="selectNav == 'about'">
    <p>
      {{ details.overview }}
    </p>
  </div>

  <app-review-movies
    [selectNav]="selectNav"
    [reviews]="reviews"
  ></app-review-movies>

  <app-cast-movies
    [selectNav]="selectNav"
    [credits]="credits"
  ></app-cast-movies>
</div>

<ng-template #loadingTemplate>
  <app-loading-bar></app-loading-bar>
</ng-template>
