.movies {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movies li img {
  width: 250px;
  height: 450px;
  margin: 30px;
  border-radius: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .movies li img {
    width: 140px;
    height: 220px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
  }
}
