<nav class="navbar navbar-expand-lg bg-body-tertiary  navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand ms-5" href="/">Movie App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Search</a>
                </li>
                <li>
                    <a class="nav-link" href="/watchlist">Watch List</a>
                </li>

            </ul>
        </div>
    </div>
</nav>