.search-movies {
  color: #fff;
}

.search {
  width: 100%;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #3a3f47;
  border-radius: 16px;
}

input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}
input::placeholder {
  color: #67686d;
  font-weight: 400;
}

.search-movies > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding: 40px;
}

.search-movies__main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.search-movies__main div a img {
  width: 190px;
  height: 240px;
  border-radius: 30px;
}

.search-movies div div .content {
  font-size: 16px;
}

.movieNotFound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  text-align: center;
}

.movieNotFound p {
  margin: 20px;
  opacity: 0.7;
}

.movieNotFound i {
  font-size: 60px;
  margin: 20px;
}
