.home {
  padding-bottom: 100px;
}

.search {
  width: 100%;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #3a3f47;
  border-radius: 16px;
}

input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}
input::placeholder {
  color: #67686d;
  font-weight: 400;
}

.movie-types {
  color: #fff;
}

.movie-types .types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.movie-types .types div button {
  background-color: transparent;
  color: #fff;
  border: none;
}
.little-icon {
  width: 100%;
  height: 4px;
  background-color: #3a3f47;
  margin-top: 10px;
}
