<div
  class="container home"
  *ngIf="popular.length !== 0 && movieType.length !== 0; else loadingTemplate"
>
  <p>What do you want to Watch?</p>
  <app-top-movies [popular]="popular"></app-top-movies>

  <div>
    <div *ngFor="let movie of movieTypes">
      <button (click)="setSelected(movie.href)">{{ movie.name }}</button>
      <div *ngIf="selectedType == movie.href"></div>
    </div>
  </div>
  <app-movie-types [movieType]="movieType"></app-movie-types>
</div>

<ng-template #loadingTemplate>
  <app-loading-bar></app-loading-bar>
</ng-template>
