<div class="container home">
  <p class="text-light m-3 fw-bold fs-4">What do you want to Watch?</p>
  <div class="search">
    <input type="text" placeholder="Search" />
    <img src="../../../assets/search.svg" alt="search-icon" />
  </div>
  <app-top-movies></app-top-movies>

  <div class="movie-types">
    <div class="types">
      <div *ngFor="let movie of movieTypes">
        <button (click)="setSelected(movie.href)">{{ movie.name }}</button>
        <div *ngIf="selectedType == movie.href" class="little-icon"></div>
      </div>
    </div>

    <app-movie-types [selectedType]="selectedType"></app-movie-types>
  </div>
</div>
