<div class="top-movies">
  <button
    class="backBtn"
    [disabled]="x >= 0 ? true : false"
    (click)="backImg()"
  >
    <i class="fas fa-angle-left"></i>
  </button>
  <div>
    <div
      *ngFor="let movie of popular; let i = index"
      [style.transform]="'translateX(' + x + '%)'"
    >
      <a href="/details/{{ movie.id }}">
        <img src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" />
      </a>
      <p>{{ i + 1 }}</p>
    </div>
  </div>
  <button
    class="nextBtn"
    [disabled]="x <= -400 ? true : false"
    (click)="nextImg()"
  >
    <i class="fas fa-angle-right"></i>
  </button>
</div>
